$desktop-width: 1440px;
$medium-width: 1200px;
$mobile-width: 375px;
$main-background: #e3b873;
$futura-demic: 'FuturaDemiC', Arial, sans-serif;
$futura-book: 'FuturaBookC', Arial, sans-serif;
$futura-medium: 'FuturaMediumC', Arial, sans-serif;
$yeseva-one: 'Yeseva One', Arial, sans-serif;
$proxima-nova: 'Proxima Nova', Arial, sans-serif;
